{% extends "layout.html" %}
{% block body %}


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Service Providers</h1>
    <p class="lead">Log into one of the service providers below to enable access to data stored there.</p>
  </div>
</div>

<div class="container">
  <div class="col-12">

    <div class="card" style="width: 20rem;">
      <img class="card-img-top center" src="{{ url_for('static', filename='box_blue.png') }}" alt="Card image cap" style="width:80%;display:block;margin:auto">
      <div class="card-body">
        <h4 class="card-title">Box Login</h4>
        <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}